.van {
    width: 600px;
    height: 240px;
  }
  .head {
    height: 80px;
  }
  .red {
    background-color: rgb(255, 0, 0);
  }
  .green {
    background-color: rgb(18, 124, 53);
  }
  .blue {
    background-color: rgb(0, 0, 255);
  }
  .two {
    width: 600px;
    height: 240px;
    margin-top: 100px;
  }
  .body {
    width: 200px;
    height: 80px;
    display: inline;
  }
  .vantwo {
    display: flex;
  }
  .gray {
    background-color: rgb(128, 128, 128);
  }
  .twotwo {
    width: 600px;
    height: 80px;
  }
  .yellow {
    background-color: rgb(255, 255, 0)
  }
  .threetwo {
    display: flex;
  }
  .black {
    background-color: rgb(0, 0, 0);
  }
  .three {
    width: 600px;
    height: 240px;
    margin-top: 100px;
    background-color: rgb(44, 204, 44);
    display: flex;
    flex-direction: row;
  }
  .cub {
    height: 150px;
    width: 150px;
    margin: 45px 25px 45px 25px;
  }